@model Newspaper_CMS.Models.Article

@{
    ViewData["Title"] = "Details";
}


<div>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            <h1><b>@Html.DisplayFor(model => model.Article_Title)</b></h1> 
        </dd>
        <dt class = "col-sm-2">
            Publish Date :
             @Html.DisplayFor(model => model.Article_PublishDate)
           
        </dt>
         <dd class = "col-sm-10">
            <button id="login-submit">
                  @Html.DisplayFor(model => model.Category_Name)

            </button>
             @if (@Model.Article_Active == 1)
                {
                    <img  src="~/Group 3266.png" width=80 style="margin-left:20px;" />

                }
                else
                {
                        <img  src="~/Ellipse 2.png" />
                        <h6>Not-Active</h6>                      
                }
          
        </dd>
          <dt class = "col-sm-2">
            Writer :
            @Html.DisplayFor(model => model.Writer_Name)
        </dt>
      
        <dt class = "col-sm-10" >
             <h4 style="color:orange;">Article</h4>
        </dt>
        <dd class = "col-sm-10" style="background-color:grey; width:1000px">
            @Html.DisplayFor(model => model.Article_Description)
        </dd>
      
        
      
    </dl>
</div>
<div>

    <a asp-action="Index" class="bbtn btn-primary">Back to List</a>
</div>
