@model Newspaper_CMS.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Writer_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Writer_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article_PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article_PublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Article_Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article_Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category_Name)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index" class="bbtn btn-primary">Back to List</a>
</div>
