@using System.Security.Claims
@model IEnumerable<Newspaper_CMS.Models.Article>

@{
    ViewData["Title"] = "Neurveal Articles";
}


<h1>Articles</h1>

@if (User.IsInRole("Writer"))
{
    <p>
    <a asp-action="Create">Create New</a>
    </p>
    
}


<form  method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Enter Article Name,Writer Name or Article Category...." name="searchTitle" value="@ViewData["GetArticleDetails"]" style="width:500px;"
        />
        <input type="submit" value="Search" class="btn btn-warning"/>
        <a asp-action="Index" asp-route-sortbydate="@ViewData["Datesorted"]" class="btn btn-secondary">Sort by Date</a>
        <a asp-action="Index">Get All Articles</a>
    </p>

</form>


<table id="table" class="table">
    <thead>
        <tr>
            <th>
               Title
            </th>
              <th>
               Category
            </th>
            <th>
                Writer
            </th>
             <th>
                Status
            </th>
            <th>
                Publish Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            @if (User.IsInRole("Writer"))
            {
                @if (item.Writer_Name ==  User.FindFirstValue(ClaimTypes.Name))
                {
                     <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Article_Title)
                    </td>
                       <td>
                        @Html.DisplayFor(modelItem => item.Category_Name)
                    </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Writer_Name)
                    </td>
                    <td>
                            @if (item.Article_Active == 1)
                            {
                                <img  src="~/Group 3268.png" />
                            }
                            else
                            {
                                  <img  src="~/Ellipse 2.png" />
                                
                            }
                            @*@Html.DisplayFor(modelItem => item.Article_Active)*@
                    </td>            
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Article_PublishDate)
                    </td>
       
         
                    <td>
                         @if ( item.Article_Active == 1)
                         {
                             <a asp-action="Details" asp-route-id="@item.Article_ID" class="btn btn-warning">Details</a>
                         }
                    
                            <a asp-action="Edit" asp-route-id="@item.Article_ID" class="btn btn-warning">Edit</a> 
                            <a asp-action="Delete" asp-route-id="@item.Article_ID" class="btn btn-danger">Delete</a> 
                            
                    </td>
                </tr>
                    
                }

        }else{
            
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Article_Title)
                    </td>
                       <td>
                      
                               @Html.DisplayFor(modelItem => item.Category_Name)
                   
                        
                    </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Writer_Name)
                    </td>
                    <td>
                          @if (item.Article_Active == 1)
                            {
                                <img src="~/Group 3268.png" />
                            }
                            else
                            {
                                  <img src="~/Ellipse 2.png" />
                                
                            }
                    </td>            
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Article_PublishDate)
                    </td>
       
         
                    <td>
                         @if ( item.Article_Active == 1)
                         {
                             <a asp-action="Details" asp-route-id="@item.Article_ID" class="btn btn-warning">Details</a>
                         }
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Article_ID" class="btn btn-warning">Edit</a> 
                            <a asp-action="Delete" asp-route-id="@item.Article_ID" class="btn btn-danger">Delete</a> 
                            
                        }
                    </td>
                </tr>
            
        }

                
            }
          

    </tbody>
</table>
 @if (User.IsInRole("Admin"))
{
      <a asp-action="AdminHomePage"  class="btn btn-primary">Back</a> 
    
}
